@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AntDesign.ReuseTabs Class="top-row px-4" TabPaneClass="content px-4" />
    </div>
</div>
