@page "/"
@implements IReuseTabsPage

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    public RenderFragment GetPageTitle() =>
    @<div>
        <Icon Type="home"/> Home
    </div>
    ;
}